eth-brownie
requests
cachetools
eth-abi
eth-utils
tqdm
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
